# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Doxygen
doxy/html/*

# Windows shortcuts
*.lnk

# binaries
bin/*
*.exe
*.obj
*.o
*.pdb
*.ilk
*.idb
*.lib
*.a
*.dll
*.so
*.exp

*.ipch
.vs/*

# log files
*.tlog
*.log
*.lastbuildstate
*.cache

#project user settings
*.vcxproj.user
*.sdf
*.opensdf
*.suo