# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#Doxygen
doxy/html/*

# Windows shortcuts
*.lnk

# binaries
bin/*
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.lib
*.dll
*.exp

# log files
*.tlog
*.log
*.lastbuildstate
*.cache

#project user settings
*.vcxproj.user
*.sdf
*.opensdf
*.suo