
[global]
	myparam=1010 

[graph]
	QueueBehavior=Wait
	QueueLimit=2000
	TextOutputSettings=-s 0.5 -w "~" -o - -l "#"
	ImageOutputSettings=-s 1.0
	HardResetTime=10
    
[modules]
	MyModules/Add
    ReadInt Testing/numbers.1M.txt
    VideoSource -d 0
    # VideoSource -f "/mnt/e/FILMEK/lappnor.mp4"
	ImageProcessor

[connections]
	ReadInt -> Add.
	ReadInt.:0 -> Add:1
    VideoSource -> ImageProcessor
